[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
freezegun = "*"

[packages]
Flask = "*"
pymongo = "*"
requests = "*"
"bs4" = "*"
"html5lib" = "*"

[requires]
