[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
flask = "*"
pymongo = "*"
requests = "*"
"bs4" = "*"
"html5lib" = "*"

[requires]
python_version = "3.6"
