<html>
	<head>
         <meta content="charset=utf-8" />
		<title>{{t}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>


    <div align="right">
        {% if not session.logged_in %}
        <p>{{session['logged_user']}}</p>
        {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
    </div>

    <div id="profile" class="tabcontent">
    <h3>Hello, {{ username }}!</h3>

    {% if userteams[0] %}
  	<b><big>Teams you own:</big></b>

	<table>
	    <tr id="row">
	    	<th>Team Name</th>
	    	<th>Cost</th>
	    </tr>
	{% for userteam in userteams %}
		<tr>
			<td class="Team">{{ userteam["team"] }}</td>
			<td class="Cost">{{ userteam["price"] }}</td>
        </tr>
	{% endfor %}
	</table>
	{% else %}
		<h4>You don't have any team yet!!</h4>
	{% endif %}
    </div>

<div id="game" class="tabcontent">
    <h3>Below is today and tomorrow's game</h3><br />

    {% if games[0] %}
    <b><big>Games coming:</big></b><br />
	<table>
	    <tr id="bet_entry">
	    	<th>Match Date</th>
	    	<th>Team A</th>
	    	<th>Team B</th>
	    	<th>Handicap A</th>
            <th>Handicap B</th>
            <th>Your Choice</th>
		    <th>Modify</th>
	    </tr>
	{% for game in games %}
		<tr>
            <td>{{ game["date"] }}</td>
			<td>{{ game["a"]["team"] }}</td>
			<td>{{ game["b"]["team"] }}</td>
			<td width="10">{{ game["a"]["handicap"] }}</td>
            <td width="10">{{ game["b"]["handicap"] }}</td>
            <td>
                {{ game["binfo"]["team"] }}
            </td>
            <td>
                <form action="/betupdate">
				<input type="hidden" name="matchid" value={{game["id"]}}>
                <select name="choice" required>
			        <option value="a">{{game["a"]["team"]}}</option>
			        <option value="b">{{game["b"]["team"]}}</option>
		        </select>
                <input type="submit" value="Submit">
                </form>
            </td>
		</tr>
	{% endfor %}
	</table>
	{% else %}
		<h4>No bet today!</h4>
	{% endif %}
</div>

<div id="rules" class="tabcontent">
  <h3>Rules should be here</h3>
</div>


<button class="tablink" onclick="openPage('profile', this)" id="defaultOpen">My Profile</button>
<button class="tablink" onclick="openPage('game', this)">Recent Games</button>
<button class="tablink" onclick="openPage('rules', this)">Rules</button>

<script>
function openPage(pageName,elmnt) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    document.getElementById(pageName).style.display = "block";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
</html>
