<html>
	<head>
		<title>{{t}}</title>
	</head>
<div id="profile" class="tabcontent">
  <h3>Hello, {{ username }}!</h3>
</div>

<div id="game" class="tabcontent">
  <h3>Below is today and tomorrow's game</h3>
</div>

<div id="rules" class="tabcontent">
  <h3>hahaha</h3>
</div>


<button class="tablink" onclick="openPage('profile', this)" id="defaultOpen">My Profile</button>
<button class="tablink" onclick="openPage('game', this)">Recent Games</button>
<button class="tablink" onclick="openPage('rules', this)">Rules</button>
<script>
function openPage(pageName,elmnt) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    document.getElementById(pageName).style.display = "block";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
</html>
