<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}2018 World Cup{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
  {# <style>*{font-size:.9rem}</style> #}
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand">2018 World Cup</div>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a href="{{ url_for('index') }}" class="nav-item nav-link">Home</a>
        <a href="{{ url_for('board') }}" class="nav-item nav-link">Board</a>
        <a href="{{ url_for('rule')  }}" class="nav-item nav-link">Rule</a>
      </div>
    </div>
    {% if g.me %}
    <span class="navbar-text">Hi, {{ g.me.name }}</span>
    {% endif %}
  </nav>
  {% block content %}{% endblock %}
  {% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>pangu.spacingPage();</script>
  {% endblock %}
</body>
</html>
