{% extends "_base.html" %}

{% block head %}
{{ super() }}
<style>
body{height:100vh;width:100vw;display:grid;grid-template-rows:auto 1fr}
.chart-wrap{overflow-x:auto;-webkit-overflow-scrolling:touch}
.canvas-adjust{height:calc(100vh - 56px);width:{{ label_count * 50 }}px;min-width:100%}
</style>
{% endblock %}

{% block content %}
<div class="chart-wrap">
  <div class="canvas-adjust">
    <canvas id="board"></canvas>
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
  // override default chart settings
  Chart.defaults.global.elements.line.fill = false
  Chart.defaults.global.elements.line.tension = 0.0
  Chart.defaults.global.legend.position = 'right'

  // draw line chart
  var ctx = document.getElementById('board').getContext('2d')
  var chart = new Chart(ctx, {
    type: 'line',
    data: {{ data | tojson }},
    options: {
      responsive: true,
      maintainAspectRatio: false,
      tooltips: {
        mode: 'index',
        intersect: false,
        itemSort: function (a, b) {
          return a.y - b.y
        },
        callbacks: {
          label: function(tooltipItem, data) {
            var label = data.datasets[tooltipItem.datasetIndex].label || ''
            if (label) { label += ': ' }
            label += Math.round(tooltipItem.yLabel * 100) / 100
            return label
          }
        }
      }
    }
  })

  // scroll to canvas rightmost end
  $("div.chart-wrap").scrollLeft(document.getElementById('board').width)
</script>
{% endblock %}
