{% extends "_base.html" %}

{% block head %}
{{ super() }}
<style>body{height:100vh;display:grid;grid-template-rows:auto 1fr}</style>
{% endblock %}

{% block content %}
<div class="postion-relative mh-100">
  <canvas id="board"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
  // override default chart settings
  Chart.defaults.global.elements.line.fill = false;

  // draw line chart
  var ctx = document.getElementById('board').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{match_labels | tojson}},
      datasets: {{datasets | tojson}},
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      tooltips: {
        mode: 'index',
        intersect: false,
      }
    }
  })
</script>

{% endblock %}
