{% extends "_base.html" %}
{% block content %}
{% for match in matches %}
<!-- match -->
<div class="card text-center m-2">
   <div class="card-body container match_container">
      <!-- match detail -->
      <div class="row align-items-center">
         <div class="col">
            <div class="team">{{match["a"]["team"]}}</div>
            <div class="score">
               {% if match["a"]["score"] is none %} - {% else %} {{match["a"]["score"]}} {% endif %}
            </div>
         </div>
         <div class="col text-nowrap">
            <div>{{ match["match_time"].strftime('%Y-%m-%d') }}</div>
            <div>{{ match["match_time"].strftime('%H:%M') }}</div>
            <div>盘口</div>
            <div class="score">
               {% if match["handicap_display"] is defined %} {{match["handicap_display"]}} {% endif %}
            </div>
         </div>
         <div class="col">
            <div class="team">{{match["b"]["team"]}}</div>
            <div class="score">
               {% if match["b"]["score"] is none %} - {% else %} {{match["b"]["score"]}} {% endif %}
            </div>
         </div>
      </div>
      <hr>
      <!-- bet detail -->
      <div class="row align-items-center">
         <div class="col">
            {% for gambler in match["a"]["gamblers"] %}
            <div>{{ gambler }}</div>
            {% endfor %}
         </div>
         <div class="col">
            <p class="countdown" data-matchtime={{ match['match_time'].timestamp() }}></p>
         </div>
         <div class="col">
            {% for gambler in match["b"]["gamblers"] %}
            <div>{{ gambler }}</div>
            {% endfor %}
         </div>
      </div>
      <hr>
      <!-- action -->
      <form action="/" method="post">
         <div class="row align-items-center">
            <input type="hidden" name="match_id" value="{{ match['id'] }}">
            <div class="col">
               <button class="btn btn-primary" type="submit" name="betchoice" value="a"{% if g.me.name in match["a"]["gamblers"] %} disabled="true"{% endif %}>投注</button>
            </div>
            <div class="col">
               <button class="btn btn-primary" type="submit" name="betchoice" value="b"{% if g.me.name in match["b"]["gamblers"] %} disabled="true"{% endif %}>投注</button>
            </div>
         </div>
      </form>
   </div>
</div>
{% endfor %}
<script>
function deactivateButton(matchObj){
    var buttons = matchObj.getElementsByClassName("btn btn-primary");
    var i;
    for (i = 0; i < buttons.length; i++){
        buttons[i].disabled = true;
    }
}

function generateCountDown_updateButton(matchObj) {
    var countObj = matchObj.getElementsByClassName("countdown")[0];
    var countDownDate = countObj.getAttribute("data-matchtime") * 1000 - 1000 * 60 * 60 * 8;

    // Update the count down every 1 second
    var x = setInterval(function (inner_html) {
        var now = Date.now();
        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element
        countObj.innerHTML = "距投注结束还有<br>" + (days >   0? days   + "天 " : "")
                                                + (hours >   0? hours   + "时 " : "")
                                                + (minutes > 0? minutes + "分 " : "")
                                                + (seconds > 0? seconds + "秒 " : "");

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            countObj.innerHTML = "投注已结束";
            deactivateButton(matchObj);
        }
    }, 1000);
}

var matches = document.getElementsByClassName("match_container");
var i;
for (i = 0; i < matches.length; i++){
     generateCountDown_updateButton(matches[i]);
}
</script>
{% endblock %}

