{% extends "_base.html" %}

{% block head %}
{{ super() }}
<style>
.table-wrap{max-width:100vw;overflow-x:scroll}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mt-2">世界杯竞猜游戏规则</h2>

  <br><h3>一、球队拍卖</h3>
  <h6>入围球队一览</h6>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">组别</th>
        <th scope="col">一档</th>
        <th scope="col">二档</th>
        <th scope="col">三档</th>
        <th scope="col">四档</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">A</th>
        <td>俄罗斯</td>
        <td>沙地阿拉伯</td>
        <td>埃及</td>
        <td>乌拉圭</td>
      </tr>
      <tr>
        <th scope="row">B</th>
        <td>葡萄牙</td>
        <td>西班牙</td>
        <td>摩洛哥</td>
        <td>伊朗</td>
      </tr>
      <tr>
        <th scope="row">C</th>
        <td>法国</td>
        <td>澳洲</td>
        <td>秘鲁</td>
        <td>丹麦</td>
      </tr>
      <tr>
        <th scope="row">D</th>
        <td>阿根廷</td>
        <td>冰岛</td>
        <td>克罗地亚</td>
        <td>尼日利亚</td>
      </tr>
      <tr>
        <th scope="row">E</th>
        <td>巴西</td>
        <td>瑞士</td>
        <td>哥斯达黎加</td>
        <td>塞尔维亚</td>
      </tr>
      <tr>
        <th scope="row">F</th>
        <td>德国</td>
        <td>墨西哥</td>
        <td>瑞典</td>
        <td>南韩</td>
      </tr>
      <tr>
        <th scope="row">G</th>
        <td>比利时</td>
        <td>巴拿马</td>
        <td>突尼西亚</td>
        <td>英格兰</td>
      </tr>
      <tr>
        <th scope="row">H</th>
        <td>波兰</td>
        <td>塞内加尔</td>
        <td>哥伦比亚</td>
        <td>日本</td>
      </tr>
    </tbody>
  </table>

  <h6>拍卖流程及规则</h6>
  <ul>
    <li>拍卖在微信群上进行</li>
    <li>对于一档球队，起拍价15元，每次叫价底限2元</li>
    <li>对于二档球队，起拍价10元，每次叫价底限2元</li>
    <li>对于三、四档球队，起拍价2元，每次叫价底限2元</li>
    <li>成交金额不设上限</li>
    <li>当玩家拥有的主队数量达到5支，从第6支起，每支拍卖得到队伍需缴纳成交额的50%作为奢侈税，纳入奖池</li>
    <li>拍卖所得的资金，兑换成积分后计入奖池</li>
  </ul>

  <h6>拍卖结果</h6>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">球队</th>
        <th scope="col">选手</th>
        <th scope="col">价格</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>俄罗斯</td>
        <td>老套</td>
        <td>27</td>
      </tr>
      <tr>
        <td>沙地阿拉伯</td>
        <td>大钻</td>
        <td>14</td>
      </tr>
      <tr>
        <td>埃及</td>
        <td>老大</td>
        <td>28</td>
      </tr>
      <tr>
        <td>乌拉圭</td>
        <td>大钻</td>
        <td>30</td>
      </tr>
      <tr>
        <td>葡萄牙</td>
        <td>金帝</td>
        <td>48</td>
      </tr>
      <tr>
        <td>西班牙</td>
        <td>大钻</td>
        <td>70</td>
      </tr>
      <tr>
        <td>摩洛哥</td>
        <td>李琛</td>
        <td>18</td>
      </tr>
      <tr>
        <td>伊朗</td>
        <td>老排</td>
        <td>18</td>
      </tr>
      <tr>
        <td>法国</td>
        <td>老娘</td>
        <td>86</td>
      </tr>
      <tr>
        <td>澳洲</td>
        <td>李琛</td>
        <td>20</td>
      </tr>
      <tr>
        <td>秘鲁</td>
        <td>老排</td>
        <td>25</td>
      </tr>
      <tr>
        <td>丹麦</td>
        <td>金帝</td>
        <td>35</td>
      </tr>
      <tr>
        <td>阿根廷</td>
        <td>老套</td>
        <td>70</td>
      </tr>
      <tr>
        <td>冰岛</td>
        <td>小白</td>
        <td>26</td>
      </tr>
      <tr>
        <td>克罗地亚</td>
        <td>小白</td>
        <td>42</td>
      </tr>
      <tr>
        <td>尼日利亚</td>
        <td>金帝</td>
        <td>21</td>
      </tr>
      <tr>
        <td>巴西</td>
        <td>老大</td>
        <td>69</td>
      </tr>
      <tr>
        <td>瑞士</td>
        <td>大B</td>
        <td>40</td>
      </tr>
      <tr>
        <td>哥斯达黎加</td>
        <td>李琛</td>
        <td>18</td>
      </tr>
      <tr>
        <td>塞尔维亚</td>
        <td>小白</td>
        <td>20</td>
      </tr>
      <tr>
        <td>德国</td>
        <td>李琛</td>
        <td>116</td>
      </tr>
      <tr>
        <td>墨西哥</td>
        <td>大钻</td>
        <td>44</td>
      </tr>
      <tr>
        <td>瑞典</td>
        <td>金帝</td>
        <td>26</td>
      </tr>
      <tr>
        <td>南韩</td>
        <td>大钻</td>
        <td>18</td>
      </tr>
      <tr>
        <td>比利时</td>
        <td>老排</td>
        <td>78</td>
      </tr>
      <tr>
        <td>巴拿马</td>
        <td>老套</td>
        <td>18</td>
      </tr>
      <tr>
        <td>突尼西亚</td>
        <td>老排</td>
        <td>22</td>
      </tr>
      <tr>
        <td>英格兰</td>
        <td>老套</td>
        <td>58</td>
      </tr>
      <tr>
        <td>波兰</td>
        <td>老排</td>
        <td>35</td>
      </tr>
      <tr>
        <td>塞内加尔</td>
        <td>老大</td>
        <td>30</td>
      </tr>
      <tr>
        <td>哥伦比亚</td>
        <td>李琛</td>
        <td>34</td>
      </tr>
      <tr>
        <td>日本</td>
        <td>金帝</td>
        <td>20</td>
      </tr>
    </tbody>
  </table>

  <br><h3>二、积分</h3>
  <ul>
    <li>积分是本次游戏中唯一的筹码</li>
    <li>积分与人民币1:1等值兑换，在比赛结束后统一结算</li>
  </ul>

  <br><h3>三、奖池与奖品</h3>
  <h6>奖池</h6>
  <ul>
    <li>奖池中的积分由主队拍卖所得和赞助商赞助而来</li>
    <li>奖池是整个游戏的保障，由大家共同监督</li>
    <!-- TODO: 奖池不足时 -->
    <!-- TODO: 奖池剩余时 -->
  </ul>
  <h6>奖品</h6>
  <ul>
    <li>
      在所有比赛结束后对所有玩家的积分进行排名，由奖池为前三名将提供以下奖品：
      <ul>
        <li>第一名：任意平台 FIFA 19 一份（约$60）</li>
        <li>第二名：任意球队周边一件（不高于$15）</li>
        <li>第三名：新英体育会员一年（¥29/年）</li>
      </ul>
    </li>
    <li>奖品可折90%兑换成现金或等价替换为与足球相关的任意奖品</li>
  </ul>

  <br><h3>四、主队</h3>
  <ul>
    <li>主队通过拍卖来获得，每人可以获得多至10支的主队，每支球队只能有一个拥有者</li>
    <li>当某场比赛有主队参赛，拥有者为胜方时（不一定要投自己的主队）即可获得额外奖励，具体见“六、单场计分”</li>
    <li>主队可以交易，成交额的10%流入奖池</li>
    <li>主队交易的成交价不得跌破发行价，即一档球队15元，二档球队10元，三、四档球队2元</li>
  </ul>

  <br><h3>五、个人积分</h3>
  <ul>
    <li>无论进行拍卖与否，每个人的起始积分均为0分</li>
    <li>随着比赛的进行，积分可以变为负分</li>
  </ul>

  <br><h3>六、单场计分</h3>
  <h6>赌注</h6>
  <ul>
    <li>小组赛与1/8决赛：2分</li>
    <li>1/4决赛：4分</li>
    <li>半决赛：8分</li>
    <li>决赛：16分</li>
  </ul>
  <p>当6人或6人以上同意时，可以增加单场比赛的赌注</p>
  <h6>计分规则</h6>
  <ul>
    <li>每场比赛，每人拿出与赌注相同的积分进行投注</li>
    <li>投注时间为盘口确定时刻至比赛开始时刻，下注方式为在竞猜网站下注</li>
    <li>按照开球当天或前一天北京时间12:00<a href="http://odds.sports.sina.com.cn/odds/index.php" rel="nofollow">新浪动态澳彩足球赔率</a>所公布的澳盘的让球关系（即“盘口”）计算胜平负</li>
    <li>胜为赢家，负为输家，赢家平分本场比赛所押积分之和；平则无输赢，退回投注者所投积分</li>
    <li>
      对未投注者，将扣除与赌注相同积分，根据比赛结果：
      <ul>
        <li>比赛有胜负：未投注者作输家，扣除的积分计入本场所押积分之和，奖励给赢家</li>
        <li>比赛平局：作为惩罚，扣除的积分充入奖池不予退回</li>
      </ul>
    </li>
    <li>参赛球队的拥有者为赢家时（不一定要投自己的主队），可从奖池中获得额外奖励，公式如下：</li>
  </ul>
  <div>$$额外奖励 = \frac{本场所押积分之和}{赢家数} - 本场赌注$$</div>

  <br><h3>七、举例</h3>
  <p>以2014年巴西世界杯揭幕战巴西 vs 克罗地亚为例，比赛时间为北京时间2014年6月13日04:00</p>
  <ul>
    <li>巴西为参赛人员甲的主队，克罗地亚为乙的主队</li>
    <li>北京时间2014年6月12日12:00盘口确定为巴西 (半球/一球）克罗地亚，开始投注</li>
    <li>本场是小组赛，赌注为2分</li>
    <li>甲丙丁戊押巴西，乙己庚辛押克罗地亚</li>
    <li>北京时间2014年6月13日04:00比赛开始，停止投注</li>
  </ul>
  <p>假设比分为巴西 2:1 克罗地亚，巴西赢一半，则积分情况变为</p>
<div class="table-wrap">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>项目</th>
        <th>奖池</th>
        <th>甲</th>
        <th>乙</th>
        <th>丙</th>
        <th>丁</th>
        <th>戊</th>
        <th>己</th>
        <th>庚</th>
        <th>辛</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>赛前</td>
        <td>100</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
      </tr>
      <tr>
        <td>赛后</td>
        <td>99</td>
        <td>12</td>
        <td>9</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
      </tr>
    </tbody>
  </table>
</div>
  <p>假设比分为巴西 3:1 克罗地亚，巴西全赢，则积分情况变为</p>
<div class="table-wrap">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>项目</th>
        <th>奖池</th>
        <th>甲</th>
        <th>乙</th>
        <th>丙</th>
        <th>丁</th>
        <th>戊</th>
        <th>己</th>
        <th>庚</th>
        <th>辛</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>赛前</td>
        <td>100</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
      </tr>
      <tr>
        <td>赛后</td>
        <td>98</td>
        <td>14</td>
        <td>8</td>
        <td>12</td>
        <td>12</td>
        <td>12</td>
        <td>8</td>
        <td>8</td>
        <td>8</td>
      </tr>
    </tbody>
  </table>
</div>

  <br><h3>附澳门让球盘规则</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>盘口</th>
        <th>结算</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>平手</td>
        <td>双方平开，不让球</td>
      </tr>
      <tr>
        <td>平手/半球</td>
        <td>打平输一半，净胜一球全赢</td>
      </tr>
      <tr>
        <td>半球</td>
        <td>打平全输，净胜一球全赢</td>
      </tr>
      <tr>
        <td>半球/一球</td>
        <td>净胜一球赢一半，净胜两球全赢</td>
      </tr>
      <tr>
        <td>一球</td>
        <td>净胜一球算平，净胜两球全赢</td>
      </tr>
      <tr>
        <td>一球/球半</td>
        <td>净胜一球输一半，净胜两球全赢</td>
      </tr>
      <tr>
        <td>球半</td>
        <td>净一球全输，净胜两球全赢</td>
      </tr>
      <tr>
        <td>球半/两球</td>
        <td>净胜两球赢一半，净胜三球全赢</td>
      </tr>
      <tr>
        <td>两球</td>
        <td>净胜两球算平，净胜三球全赢</td>
      </tr>
      <tr>
        <td>两球/两球半</td>
        <td>净胜两球输一半，净胜三球全赢</td>
      </tr>
    </tbody>
  </table>
  <p>前提是押主队，押客队反之；如果主队实力弱于客队，让球改为受让，即被让球</p>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_SVG" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pangu/3.3.0/pangu.min.js"></script>
<script>pangu.spacingPage();</script>
{% endblock %}
