{% extends "_base.html" %}

{% block head %}
{{ super() }}
<style>
.table-wrap{max-width:100vw;overflow-x:scroll}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h2>世界杯竞猜游戏规则</h2>

  <br><h3>一、球队拍卖</h3>
  <ul>
    <li>入围球队一览</li>
  </ul>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">组别</th>
        <th scope="col">一档</th>
        <th scope="col">二档</th>
        <th scope="col">三档</th>
        <th scope="col">四档</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">A组</th>
        <td>俄罗斯</td>
        <td>沙特</td>
        <td>埃及</td>
        <td>乌拉圭</td>
      </tr>
      <tr>
        <th scope="row">B组</th>
        <td>葡萄牙</td>
        <td>西班牙</td>
        <td>摩洛哥</td>
        <td>伊朗</td>
      </tr>
      <tr>
        <th scope="row">C组</th>
        <td>法国</td>
        <td>澳大利亚</td>
        <td>秘鲁</td>
        <td>丹麦</td>
      </tr>
      <tr>
        <th scope="row">D组</th>
        <td>阿根廷</td>
        <td>冰岛</td>
        <td>克罗地亚</td>
        <td>尼日利亚</td>
      </tr>
      <tr>
        <th scope="row">E组</th>
        <td>巴西</td>
        <td>瑞士</td>
        <td>哥斯达黎加</td>
        <td>塞尔维亚</td>
      </tr>
      <tr>
        <th scope="row">F组</th>
        <td>德国</td>
        <td>墨西哥</td>
        <td>瑞典</td>
        <td>韩国</td>
      </tr>
      <tr>
        <th scope="row">G组</th>
        <td>比利时</td>
        <td>巴拿马</td>
        <td>突尼斯</td>
        <td>英格兰</td>
      </tr>
      <tr>
        <th scope="row">H组</th>
        <td>波兰</td>
        <td>塞内加尔</td>
        <td>哥伦比亚</td>
        <td>日本</td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>
      拍卖流程及规则
      <ul>
        <li>拍卖在微信群上进行</li>
        <li>对于一档球队，起拍价15元，每次叫价底限2元</li>
        <li>对于二档球队，起拍价10元，每次叫价底限2元</li>
        <li>对于三、四档球队，起拍价2元，每次叫价底限2元</li>
        <li>成交金额不设上限</li>
        <li>当玩家拥有的主队数量大于等于5支时，拍卖得到新队伍后，要缴纳成交额的50%作为奢侈税，纳入奖池</li>
        <li>拍卖所得的资金，兑换成积分后计入奖池</li>
      </ul>
    </li>
  </ul>

  <br><h3>二、积分</h3>
  <ul>
    <li>积分是本次游戏中唯一的筹码</li>
    <li>积分与人民币1:1等价，在比赛结束后进行兑换</li>
  </ul>

  <br><h3>三、奖池与奖品</h3>
  <ul>
    <li>
      奖池
      <ul>
        <li>奖池中的积分由主队拍卖所得和赞助商赞助而来</li>
        <li>奖池是整个游戏的保障，由大家共同监督</li>
      </ul>
    </li>
    <li>
      奖品
      <ul>
        <li>
          在所有比赛结束后，将对所有选手的收益进行排名前三名将获得以下奖品：
          <ul>
            <li>第一名：FIFA19（任意平台，约$60）</li>
            <li>第二名：任意球队周边一件（不高于$15）</li>
            <li>第三名：新英体育会员一年（¥29/年）</li>
          </ul>
        </li>
        <li>奖品可折90%兑换成现金或等价替换为与足球相关的任意奖品</li>
      </ul>
    </li>
  </ul>

  <br><h3>四、主队</h3>
  <ul>
      <li>主队通过拍卖来获得，每人可以获得多至10支的主队，每支球队只能有一个拥有者</li>
      <li>主队在进行比赛时，其拥有者可以获得双倍积分加分奖励，其中一半来自于正常规则，额外奖励来自于奖池</li>
      <li>主队可以交易，成交额的10%流入奖池</li>
      <li>主队交易的成交价不得跌破发行价，即一档球队15分，二档球队10分， 三四档球队2分</li>
  </ul>

  <br><h3>五、个人积分</h3>
  <ul>
    <li>无论进行拍卖与否，每个人的起始积分均为0分</li>
    <li>随着比赛的进行，积分可以变为负分</li>
  </ul>

  <br><h3>六、单场计分</h3>
  <ul>
    <li>
      赌注：
      <ul>
        <li>小组赛与1/8决赛：2分</li>
        <li>1/4决赛：4分</li>
        <li>半决赛：8分</li>
        <li>决赛：16分</li>
      </ul>
    </li>
    <li>
      计分规则：
      <ul>
        <li>每场比赛，默认每人拿出与赌注相同的积分进行竞猜，不参赛默认扣除积分且作负</li>
        <li>按照开球前一天北京时间12:00的澳盘的让球关系计算胜平负，赢家平分该场比赛所押积分之和，球队的拥有者可以从奖池中获得额外的奖励。额外奖励计算公式：
           <br>$$额外奖励 = \frac{该场所押积分之和}{猜中结果的总人数} - 本场赌注$$</li>
        <li>下注时间为前一天的北京时间08:00至20:00，下注方式为在竞猜网站下注</li>
        <li>当六人或六人以上同意时，可以增加单场比赛的赌注</li>
        <li>澳盘以<a href="http://odds.sports.sina.com.cn/odds/index.php" rel="nofollow">新浪动态澳彩足球赔率</a>为准</li>
      </ul>
    </li>
  </ul>

  <br><h3>七、举例：</h3>
  <ul>
      <li>2014年巴西世界杯揭幕战：北京时间2014年6月13日04:00 巴西 vs 克罗地亚</li>
      <li>其中巴西为参赛人员甲的主队，克罗地亚为乙的主队</li>
      <li>开赛前一天盘口为巴西 (半球/一球）克罗地亚</li>
      <li>甲丙丁戊押巴西，乙己庚辛押克罗地亚</li>
      <li>本场是小组赛，赌注为2分</li>
  </ul>
  <p>假设比赛结果为巴西 2:1 克罗地亚，巴西赢一半，则积分情况变为</p>
<div class="table-wrap">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>项目</th>
        <th>奖池</th>
        <th>甲</th>
        <th>乙</th>
        <th>丙</th>
        <th>丁</th>
        <th>戊</th>
        <th>己</th>
        <th>庚</th>
        <th>辛</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>赛前</td>
        <td>100</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
      </tr>
      <tr>
        <td>赛后</td>
        <td>99</td>
        <td>12</td>
        <td>9</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
      </tr>
    </tbody>
  </table>
</div>
  <p>假设比赛结果为巴西 3:1 克罗地亚，巴西全赢，则积分情况变为</p>
<div class="table-wrap">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>项目</th>
        <th>奖池</th>
        <th>甲</th>
        <th>乙</th>
        <th>丙</th>
        <th>丁</th>
        <th>戊</th>
        <th>己</th>
        <th>庚</th>
        <th>辛</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>赛前</td>
        <td>100</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
        <td>10</td>
      </tr>
      <tr>
        <td>赛后</td>
        <td>98</td>
        <td>14</td>
        <td>8</td>
        <td>12</td>
        <td>12</td>
        <td>12</td>
        <td>8</td>
        <td>8</td>
        <td>8</td>
      </tr>
    </tbody>
  </table>
</div>

  <br><h3>附澳门让球盘规则：</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>盘口</th>
        <th>结算</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>平手</td>
        <td>双方平开，不让球</td>
      </tr>
      <tr>
        <td>平手/半球</td>
        <td>打平输一半，净胜一球全赢</td>
      </tr>
      <tr>
        <td>半球</td>
        <td>打平全输，净胜一球全赢</td>
      </tr>
      <tr>
        <td>半球/一球</td>
        <td>净胜一球赢一半，净胜两球全赢</td>
      </tr>
      <tr>
        <td>一球</td>
        <td>净胜一球算平，净胜两球全赢</td>
      </tr>
      <tr>
        <td>一球/球半</td>
        <td>净胜一球输一半，净胜两球全赢</td>
      </tr>
      <tr>
        <td>球半</td>
        <td>净一球全输，净胜两球全赢</td>
      </tr>
      <tr>
        <td>球半/两球</td>
        <td>净胜两球赢一半，净胜三球全赢</td>
      </tr>
      <tr>
        <td>两球</td>
        <td>净胜两球算平，净胜三球全赢</td>
      </tr>
      <tr>
        <td>两球/两球半</td>
        <td>净胜两球输一半，净胜三球全赢</td>
      </tr>
    </tbody>
  </table>
  <p>前提是押主队，押客队反之；如果主队实力弱于客队，让球改为受让，即被让球</p>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_SVG" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pangu/3.3.0/pangu.min.js"></script>
{% endblock %}
